html,body {
	height: 100%;
}

body {
	margin: 0;
	overflow: hidden;
}

/* ヘッダー */
header.mdl-layout__header {
	min-height: 25px;
}
header.mdl-layout__header > .title-row {
	height: 25px;
	-webkit-app-region: drag;
}
header.mdl-layout__header > .title-row .mdl-layout-title {
	width: 100%;
	text-align: center;
	font-size: 15px;
}
header.mdl-layout__header > .tools-pack-row {
	height: auto;
	overflow: hidden;
}
header.mdl-layout__header > .tools-pack-row > .user-account {
	position: relative;
	width: 200px;
	display: flex;
	align-items: center;
	margin: 8px 0;
}
#user-account__icon {
	width: 64px;
	height: 64px;
}
#user-account__name {
	margin-left: 8px;
}
label[for="show-account-menu__button"] {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	cursor: pointer;
}
label[for="show-account-menu__button"]:hover {
	background-color: rgba(0,0,0,0.2);
}
header.mdl-layout__header > .tools-pack-row > .tools-pack {
	width: calc(100% - 200px);
	margin: 0 auto;
	display: flex;
	align-items: center;
}
header.mdl-layout__header > .tools-pack-row > .tools-pack > button {
	width: 80px;
	height: 64px;
	margin: 8px;
}
header.mdl-layout__header > .tools-pack-row > .tools-pack > button > .material-icons{
	font-size: 48px;
}
body.is-student-page header.mdl-layout__header > .tools-pack-row > .tools-pack > :not(.student-button-too) {
	display: none;
}

/* メインコンテンツ */
main.mdl-layout__content {
	background-color: white;
}
main.mdl-layout__content .classrooms-row {
	position: relative;
	display: block;
	width: 100%;
}
main.mdl-layout__content .classrooms-pack {
	padding: 10px 25px;
}
main.mdl-layout__content .classroom-pack {
	margin: 0 auto;
	width: 100%;
	overflow-y: hidden;
}
main.mdl-layout__content .classrooms-pack .classroom {
	display: block;
	width: 150px;
	margin: 0 10px 10px 10px;
	float: left;
	border: medium solid lightgray;
	padding-bottom: 5px;
	border-radius: 10px;
	overflow: hidden;
}
main.mdl-layout__content .classrooms-pack .classroom:hover {
	background-color: lightgray;
	cursor: pointer;
}
.float-cancel-hr {
	clear: both;
}
.classroom > hr {
	margin: 0.5em 0;
}
.classroom img {
	width: 16px;
	height: 16px;
	margin: 0 5px;
}
.classroom-name {
	margin: 0 0 7px 5px;
}
.theme-color {
	height: 12px;
	margin-bottom: 5px;
}

/* その他 */
.with-label {
	display: none;
}
.swal2-container.swal2-shown {
	margin-top: 25px;
}